.plans-container__slaider {
    justify-content: center;
}

.product-cards__container {
    display: flex;
    flex-wrap: wrap;
    width: 930px;
    margin: 0 auto;
}

.main-table-container {
    display: flex;
    width: 930px;
    margin: 0 auto;
}